<a href="https://colab.research.google.com/github/kovacova/random-magic/blob/master/Python-Calendar-Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Calendar

In [0]:
import calendar


calendar.isleap(year)

    Returns True if year is a leap year, otherwise False.

In [0]:
["{}: {}".format(year,calendar.isleap(year)) for year in range(1996,2019)]

['1996: True',
 '1997: False',
 '1998: False',
 '1999: False',
 '2000: True',
 '2001: False',
 '2002: False',
 '2003: False',
 '2004: True',
 '2005: False',
 '2006: False',
 '2007: False',
 '2008: True',
 '2009: False',
 '2010: False',
 '2011: False',
 '2012: True',
 '2013: False',
 '2014: False',
 '2015: False',
 '2016: True',
 '2017: False',
 '2018: False']


calendar.leapdays(y1, y2)

    Returns the number of leap years in the range from y1 to y2 (exclusive), where y1 and y2 are years.

    This function works for ranges spanning a century change.

In [0]:
calendar.leapdays(1655, 1865)

51


calendar.monthcalendar(year, month)

    Returns a matrix representing a month’s calendar. Each row represents a week; days outside of the month a represented by zeros. Each week begins with Monday unless set by setfirstweekday().

In [0]:
calendar.monthcalendar(2019, 1)

[[0, 1, 2, 3, 4, 5, 6],
 [7, 8, 9, 10, 11, 12, 13],
 [14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27],
 [28, 29, 30, 31, 0, 0, 0]]


calendar.prmonth(theyear, themonth, w=0, l=0)

    Prints a month’s calendar as returned by month().

In [0]:
calendar.prmonth(2019, 1, w=0, l=0)

    January 2019
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31